* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body, #root {
  height: 100%;
  width: 100%;

}
main{
    height: 100%;
    width: 100%;
    padding: 1.3rem;
    gap: 1rem;
    display: flex;
   
}

main .left,main .right{
    height: 100%;
    flex-basis: 50%;
    border-radius: 10px;
}
main .left{
    background-color: rgb(20, 19, 19);
    position: relative;
}
main .right{
    background-color: rgb(62, 62, 63);
    padding: 1rem 2rem;
    overflow: auto;
}

main .left .review{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background: rgb(234, 234, 242);
    color: black;
    padding: 2px 15px;
    cursor: pointer;
    user-select: none;
    font-weight : 500;
}
.left .code, .code pre,code pre code{
    height: 100%;
    margin: 0;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(20, 19, 19);
}